.container {
  max-width: 800px;
  min-height: 450px;
  background: #3d4849;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #cfd1d2;
  padding: 2rem 4rem;
  text-align: center;
}
.box {
  display: flex;
  width: 80%;
  margin: 3.5rem auto 0;
  justify-content: space-around;
  align-items: stretch;
  padding: 1.2rem 3rem;
}

.photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 5px 5px -3px rgba(0, 0, 0, 0.7);
}

.author {
  font-style: italic;
}
.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;
  background: white;
}

.title {
  color: #008080;
}
